In [50]:
#Le Tuple
studenti = ('Ada', 'Ben', 'Claude', 'Dina')
print(studenti)
studenti #posso anche scrivere senza print solo il nome della tupla
type(studenti)
#le tuple non sono modificabili, posso modificare invece i contenti di una lista
#Come le liste, le tuple sono ordinate e possiamo andare a ricavare i singoli dati tramite indexing

('Ada', 'Ben', 'Claude', 'Dina')

tuple

In [24]:
my_tuple = ('tuple', 20, 55, True, 12.46, ['una', 'lista', 'di', 'elementi'])
my_tuple
len(my_tuple)

6

In [23]:
my_tuple[-2] #vado a ricavare l'elemento che mi interessa tramite indexing

12.46

In [49]:
my_tuple.index(55) #l'elemento .index mi dice in che posizione dell'indice si trova il valore

2

In [25]:
my_tuple.count(12.46) #conto quante volte appare un certo elemento

1

In [26]:
#le tuple possono essere fatte senza parentesi
orari = 10, 14, 18, 20, 23
print(orari)

(10, 14, 18, 20, 23)

In [44]:
#I set sono insiemi di valori non ordiati
#per definire un set si usano le parentesi graffe
animali_savana = {'leone', 'gazzella', 'iena'}
animali_savana

{'gazzella', 'iena', 'leone'}

In [46]:
animali_savana

{'gazzella', 'ghepardo', 'iena', 'leone', 'serpente'}

In [29]:
type(animali_savana)

set

In [47]:
#i set sono modificabili
animali_savana.add('elefante') #add aggiunge  solo elemento alla volta

In [48]:
animali_savana.update(['serpente', 'ghepardo']) #update aggiunge più di un elemento alla volta, ma deve essere dentro parentesi quadre.
animali_savana
#se succedono errori, basta eseguire nuovamente la cella dove è stata definita la variabile e poi di nuovo quella con problemi

{'elefante', 'gazzella', 'ghepardo', 'iena', 'leone', 'serpente'}

In [53]:
citta_italiane = {"Roma", "Napoli", "Firenze", "Milano", "Palermo"}
grandi_citta = {"Parigi", "Roma", "Berlino", "Madrid", "Milano"}

In [57]:
citta_italiane.intersection(grandi_citta) # .intersection è un AND, mi da i risultati che si trovano in entrambi gli insiemi

{'Milano', 'Roma'}

In [60]:
grandi_citta.difference(citta_italiane) #con .difference tolgo da un set un altro set

{'Berlino', 'Madrid', 'Parigi'}

In [61]:
'''se metto i tre apici
posso fare un commento di più righe'''

'se metto i tre apici\nposso fare un commento di più righe'

In [90]:
#i dizionari sono strutture dati che associano coppie chiavi - valori. è una collezione mutabile non ordinata di elementi. non posso usare indexing
#pensiamo a una rubrica telefonica, se cerco il numero di telefono di Mario, mi serve sapere il suo nome per conoscere l'info che non conosco, il suo numero di telefono
#allo stesso modo su un dizionario italiano-iglese, se mi serve sapere la parola in italiano per trovare il suo corrispettivo in inglese

In [64]:
rubrica = {'Mario':12345, 'Giulia':45687, 'Luigi':97896} #differisce dai set perchè ogni coppia è divisa dai due punti e separata dalle altre con la virgola

In [65]:
rubrica

{'Mario': 12345, 'Giulia': 45687, 'Luigi': 97896}

In [66]:
type(rubrica)

dict

In [71]:
print(rubrica['Mario'])
print(rubrica['Giulia'])
print(rubrica['Luigi'])

12345
45687
97896

In [88]:
rubrica['Gianni'] = 36579 #in questo modo aggiungo valori ai dizionari

In [74]:
rubrica

{'Mario': 12345, 'Giulia': 45687, 'Luigi': 97896, 'Gianni': 36579}

In [76]:
anagrafica = {'nome': 'Mario', 'cognome': 'Rossi', 'eta': '45'}

In [78]:
anagrafica['nome']

'Mario'

In [80]:
anagrafica2 = {'nome': 'Giorgia', 'Bianchi': 'Rossi', 'eta': '30'}

In [82]:
anagrafica2['nome']

'Giorgia'

In [103]:
rubrica.get("Gianni") #con get recupero il dato corrispondente alla chiave

11111

In [93]:
rubrica.update({'Elena': 3685987, 'Gianni':11111})

In [94]:
rubrica

{'Mario': 12345,
 'Giulia': 45687,
 'Luigi': 97896,
 'Gianni': 11111,
 'Elena': 3685987}

In [96]:
rubrica.items() #restituisce tutte le coppie chiave-valore

dict_items([('Mario', 12345), ('Giulia', 45687), ('Luigi', 97896), ('Gianni', 11111), ('Elena', 3685987)])

In [98]:
rubrica.keys() #restituisce tutte le chiavi

dict_keys(['Mario', 'Giulia', 'Luigi', 'Gianni', 'Elena'])

In [99]:
rubrica.values() #restituisce tutti i valori

dict_values([12345, 45687, 97896, 11111, 3685987])

In [105]:
# un costrutto logico condizionale è un'istruzione che permette di eseguire blocchi di codice a seconda delle condizioni.
#if condizione: --> è l'intestazione
#esegui azione (o più azioni) ---> è il corpo (con indentazione, ossia il tab per spostare il corpo più in la)

In [106]:
x = 5
y = 7
if x < y:
    print('x è minore di y')

x è minore di y

In [108]:
x = 15
y = 7
if x < y:
    print('x è minore di y')
#essendo falsa non restituisce nessun output

In [111]:
x = 15
y = 7
if x < y:
    print('x è minore di y')
else:
    print('x è maggiore di y')

x è maggiore di y

In [1]:
eta = 20
if 17 <= eta <= 19:
    print('idoneo per il torneo')
else:
    print('non idoneo per il torneo')

non idoneo per il torneo

In [3]:
classe = ('Ada', 'Ben', 'Claude', 'Dina')

In [10]:
studente = 'Faith'

In [7]:
'Claude' in classe #verifico se il valore è presente nella tupla

True

In [13]:
if studente in classe:
    print ('Lo studente', studente, 'è presente')
else:
    print ('Lo studente', studente, 'non è presente')

Lo studente Faith non è presente

In [18]:
#elif serve per fare più di una condizione. l'else finale è opzionale
temperatura = 19
if temperatura < 20:
    print('accendere il riscaldamento')
elif temperatura > 30:
    print('accendere raffreddamento')
else:
    print('temperatura ottimale')

accendere il riscaldamento

In [52]:
cybersec = 10
data_analyst = 20
frontend = 30
backend = 40

In [61]:
nuova_iscrizione = 'cybersec'

if nuova_iscrizione == 'cybersec':
    cybersec += 1
elif nuova_iscrizione == 'data_analyst':
    data_analyst += 1
elif nuova_iscrizione == 'frontend':
    frontend += 1
elif nuova_iscrizione == 'backend':
    backend += 1

print('cybersec', cybersec)
print('data_analyst', data_analyst)
print('frontend', frontend)
print('backend', backend)

cybersec 12
data_analyst 25
frontend 30
backend 41

In [62]:
#i loop servono a eseguire dei blocchi di codice in successione
#con while, il costrutto esegue sempre le stesse istruzioni finchè è vera una determinata condizione

In [70]:
#sommo i numeri da 1 a 15
num = 1 #inizializzazione
somma = 0 #inizializzazione
while num <= 15:
    somma += num # calcolo
    print('num', num, '-somma =', somma)
    num += 1 #condizione di aggiornamento
print('la somma è', somma)
#le istruzioni indentate possono essere eseguite 0, 1 o più volte, quelle non indentate vengono eseguite sempre

num 1 -somma = 1
num 2 -somma = 3
num 3 -somma = 6
num 4 -somma = 10
num 5 -somma = 15
num 6 -somma = 21
num 7 -somma = 28
num 8 -somma = 36
num 9 -somma = 45
num 10 -somma = 55
num 11 -somma = 66
num 12 -somma = 78
num 13 -somma = 91
num 14 -somma = 105
num 15 -somma = 120
la somma è 120

In [73]:
somma = 0

while 0 <= somma <= 50:
    num = input('Inserisci un numero: ')
    num = int(num)
    somma += num

print('La somma è:', somma)

Inserisci un numero:  64

La somma è: 64

In [76]:
#for significa per, nel senso di 'per ognuno' o 'per tot di volte'
prezzi = [10, 20, 30, 40, 50]

for prezzo in prezzi:
    print ('-', prezzo * 0.8)

- 8.0
- 16.0
- 24.0
- 32.0
- 40.0

In [81]:
stipendi = [100, 200, 300, 400, 500]
nuovi_stipendi = [] #è una lista vuota, per ora, ma possiamo riempirla

for stipendio in stipendi:
    nuovo_stipendio = stipendio * 2
    print (nuovo_stipendio)
    nuovi_stipendi.append(nuovo_stipendio)

print(nuovi_stipendi)

200
400
600
800
1000
[200, 400, 600, 800, 1000]

In [82]:
parola = 'Python'

for lettera in parola:
    print(lettera, '!')

P !
y !
t !
h !
o !
n !